.watch{
    border: 1px solid gray;
    border-radius: 20px;
    position: relative;
    height: 450px;
    background-color: azure;
}

.watch img{
    display: block;
    margin: auto;
    margin-top: 10px;

}

.watch-detail .h2{
    text-align: center;
}


.the-btn{
    width: 100%;
    border: none;
    border-radius: 0px 0px 20px 20px;
}

.btn {
    margin-right: 7px;
}


.the-btn:hover{
    background-color: aqua;
}


